<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Schemes</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header>
        
            <div class="logo_container">
                
                <h2>Placement Portol</h2>
            </div>
            <div class="navigition">
                <ul>
                    <li><a href="/student_dash">Dashboard</a></li>
                    <li> <a href="/resource1">Resources</a></li>
                    <li><a href="/applied">Applied</a></li>
                    <li><a href="/schudeler">Schudeles</a></li>
                    <li><a href="/interview">Interview Question</a></li>
                </ul>
            </div>
            <div class="login_bar">
               
                <a href="/">log Out</a>
    
            </div>
    
           
  
       
    </header>
    <section class="scheme">
        <h2 id="title">PYTHON</h2>
        <div class="scheme-card">
            <h3>Easy Questions</h3>
            <p>Here Get multiple apptitude question for your python preparation</p>
            <a href="https://www.sanfoundry.com/python-aptitude-test-questions/" class="btn">Click Here</a>
        </div>
        <div class="scheme-card">
            <h3>Advance Question</h3>
            <p>Here youget Advance question, python with DSA</p>
            <a href="https://www.geeksforgeeks.org/python-interview-questions/" class="btn">Click Here</a>
        </div>

        <section class="scheme">
            <h2>DSA</h2>

        <div class="scheme-card">
            <h3>Easy Questions</h3>
            <p>Here You get multiple choice questions for your INTERVIEWS Preparation.</p>
            <a href="https://www.sanfoundry.com/1000-data-structure-questions-answers/" class="btn">Click Here</a>
        </div>
        <div class="scheme-card">
            <h3>Advance Question</h3>
            <p></p>
            <a href="https://www.fullstack.cafe/blog/data-structures-interview-questions" class="btn">Click Here</a>
        </div>
    </section>

    <section class="scheme">
        <h2>C++</h2>

        <div class="scheme-card">
            <h3>Multiple Choice Question</h3>
            <p>Description of the scheme goes here. .</p>
            <a href="https://www.sanfoundry.com/cplusplus-interview-questions-answers/" class="btn">Click Here</a>
        </div>
        <div class="scheme-card">
            <h3>C++ with DSA</h3>
            <p>Description of the scheme goes here.</p>
            <a href="https://www.geeksforgeeks.org/top-100-data-structure-and-algorithms-dsa-interview-questions-topic-wise/" class="btn">Click Here</a>
        </div>
    </section>

        <section class="scheme">
            <h2>JAVA</h2>
            
        <div class="scheme-card">
            <h3>Multiple Choice Question</h3>
            <p>Description of the scheme goes here.</p>
            <a href="https://www.sanfoundry.com/java-questions-answers-freshers-experienced/" class="btn">Click Here</a>
        </div>
        <div class="scheme-card">
            <h3>Advance Question</h3>
            <p>Description of the scheme goes here.</p>
            <a href="https://www.indeed.com/career-advice/interviewing/advanced-java-interview-questions" class="btn">Click Here</a>
        </div>
    </section>
    
    
</body>
<footer>
    <p>&copy; 2024 All rights reserved  by Code Crunches</p>
</footer>
</html>