<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Calendar</title>

    <meta charset="utf-8">
    <meta name="description" content="Simple Modern-looking Event Calendar Plugin">
    <meta name="keywords" content="jQuery, Plugin, Event, Calendar, EvoCalendar">
    <meta name="author" content="Edlyn Villegas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" href="images/favicon.png">

    
    <link rel="stylesheet" type="text/css" href="stylesheets/evo-calendar.min (1).css">
    <link rel="stylesheet" type="text/css" href="stylesheets/evo-calendar.orange-coral.min (1).css">
    <link rel="stylesheet" type="text/css" href="stylesheets/evo-calendar.midnight-blue.min (1).css">
    <link rel="stylesheet" type="text/css" href="stylesheets/evo-calendar.royal-navy.min (1).css">

    <link rel="stylesheet" type="text/css" href="stylesheets/demo (1).css">
    

</head>
<body>
    <header>
        <div class="logo_container">
            
            <h2>Placement Portol</h2>
        </div>
        <div class="navigition">
            <ul>
                <li><a href="/student_dash">Dashboard</a></li>
                <li> <a href="/resource1">Resources</a></li>
                <li><a href="/applied">Applied</a></li>
                <li><a href="/schudeler">Schudeles</a></li>
                <li><a href="/interview">Interview Question</a></li>
            </ul>
        </div>
        <div class="login_bar">
           
            <a href="/">log Out</a>

        </div>

       
</header>
    <main>
 
<pre><code>


</code></pre>
            


                    
                </div>
            </section>
            <section id="demos">
                <div class="section-content">
                    <p class="section-title --shrt">Your event calender is there for you!</p>
                    <div class="action-buttons">
                        
                        <button class="btn-action active" data-set-theme="Default">DEFAULT</button>
                        <button class="btn-action" data-set-theme="Midnight Blue">MIDNIGHT BLUE</button>
                        <button class="btn-action" data-set-theme="Royal Navy">ROYAL NAVY</button>
                        <button class="btn-action" data-set-theme="Orange Coral">ORANGE CORAL</button>
                    </div>
                    <div class="console-log">
                        <div class="log-content">
                            <div class="--noshadow" id="demoEvoCalendar"></div>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <button class="btn-action" id="addBtn">ADD EVENT</button>
                        <button class="btn-action" id="removeBtn" disabled>REMOVE EVENT</button>
                    </div>
                </div>
            </section>

            
<pre><code>






</code></pre>
                
             
                               
                                
                   
                                
                                 


<footer>
    <P>All Right Reserved By<span> <i class="fa-solid fa-heart"></i></span> CodeCrunches</P>
  </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="javascripts/evo-calendar.min (1).js"></script>
    <script src="javascripts/demo (1).js"></script>
</body>
</html>